.process-card {
  margin: 24px 0;
  cursor: pointer;
  border: solid 2px var(--secondary-light);
  border-radius: 0;
}
.process-card--active {
  border: solid 2px var(--primary);
  color: var(--primary);
}
.process-card--active p.column-title {
  color: var(--primary);
}
.process-card:hover {
  border: solid 2px var(--primary);
}
.process-card .process-card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.process-card .card-column {
  max-width: 200px;
  max-height: 90px;
  overflow: hidden;
}

.process-card .process-image {
  max-width: 100px;
  max-height: 100px;
}

.process-card .column-title {
  font-weight: bold;
  color: var(--secondary);
}

@media (max-width: 576px) {
  .process-card .process-card-content {
    flex-direction: column;
  }
  .process-card .card-column {
    width: 100%;
    max-width: auto;
  }

  .process-card .column-title {
    margin: 4px 0 0 0;
  }
  .process-card .column-text {
    margin: 0;
  }

  .process-card .process-image {
    margin: 16px 0;
    align-self: center;
  }
}
