.search-input-container {
  width: 100%;
  display: flex;
  border: solid 1px var(--secondary-light);
  color: var(--secondary-light);
}

.search-input-container input {
  width: 100%;
  font-size: 14px;
  padding: 8px;
  border: none;
}

.search-input-container button {
  background: transparent;
  border: none;
}
